.shortcode-help {
    background: white;
    max-width: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

section.pro-pub {
    max-width: 50%;
    background: #fe5000;
    color: white;
    padding: 10px;
}

.pro-pub a {
    color: #fe5000;
}

a.upgrade_button {
    background: white;
    padding: 10px;
    margin: 0 auto;
    display: block;
    width: fit-content;
}

a.nav-tab.nav-tab-help {
    float: right;
    background: #fe5000;
    color: white;
}

a.nav-tab {
    text-transform: capitalize;
}

/**
Gutenberg Block
 */
li.cf-radio__list-item {
    list-style: none;
}

/**
Admin Free
 */
.wrap-free {
    float: left;
    min-width: 70%;
}

.ads.ads-settings_page_openagenda-settings {
    min-width: 25%;
    float: right;
    background: #fff;
    margin: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: center;
}

.product-link {
    background: #fe5000;
    padding: 10px 10px;
    color: #fff;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
}

.openagenda-notice li:before,
.ads-settings_page_openagenda-settings li:before {
    content: url('./img/check-mark.svg');
}

.ads-settings_page_openagenda-settings li {
    text-align: left;
}