		.main_openagenda {
		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-gap: 10px 20px;
		}
		.openagenda_when {
		background: #2a3cca;
		color: #ffffff;
		}
		.openagenda_when p {
		text-align: center;
		}
		.openagenda_event {
		background: #365690;
		color: #ffffff;
		}
		.openagenda_event p,
		.openagenda_event h3{
		margin: 0;
		}

		.openagenda_description,
		.openagenda_meta{
		padding: 10px;
		}

		.openagenda_event_image {
		display: flex;
		justify-content: center;
		}
		