		.main_openagenda {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-gap: 10px 20px;
		}
		.openagenda_when {
		background: ;
		color: ;
		}
		.openagenda_when p {
		text-align: center;
		}
		.openagenda_event {
		background: #e71a1a;
		color: ;
		}
		.openagenda_event p,
		.openagenda_event h3{
		margin: 0;
		}

		.openagenda_description,
		.openagenda_meta{
		padding: 10px;
		}

		.openagenda_event_image {
		text-align: center;
		}
		