.openwp-event {
    border-bottom: solid 1px;
    margin-bottom: 30px;
}

p.bloc-openagenda__lieu::before {
    background-image: url(../img/pin.svg);
    content: '';
    display:inline-block;
    width: 16px;
    height:16px;
    background-repeat: no-repeat;
    background-size:16px 16px;
    background-position:center center;
    margin-right: 0.2em;
}

.slick-slide img {
    margin: 0 auto;
}

.bloc-openagenda__date {
    padding: 0.5em;
}

/**
Hide add Venue
 */
.taxonomy-openagenda_venue #col-left{
    display: none;
}

.taxonomy-openagenda_venue #col-right{
    width: 100%;
}

div#openagenda_venue-adder {
    display: none;
}

/**
Single Openagenda
 */
.oa-content-area {
    width: 1404px;
    margin: 0 auto;
}

.oa-content aside {
    width: 30%;
    float: left;
    background: #EEEEEF;
    padding: 0 10px;
    margin-right: 20px;
}

.oa-content {
    margin-top: 20px;
}

p.oa-a11y-details.oa-mi::before{
    content: url("./../img/mi.png" );
    position: relative;
}
p.oa-a11y-details.oa-hi::before{
    content: url("./../img/hi.png" );
    position: relative;
}
p.oa-a11y-details.oa-pi::before{
    content: url("./../img/pi.png" );
    position: relative;
}
p.oa-a11y-details.oa-vi::before{
    content: url("./../img/vi.png" );
    position: relative;
}

p.oa-a11y-details.oa-sl::before{
    content: url("./../img/sl.png" );
    position: relative;
}